/* FONTS */
@font-face {
    font-family: roboto-regular;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto-light;
    src: url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: playfair-regular;
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: lato-regular;
    src: url("./fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: lato-bold;
    src: url("./fonts/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: lato-light;
    src: url("./fonts/Lato/Lato-Light.ttf");
}

/* Tags */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto-regular, sans-serif;
    font-size: 1em;
    color: black;
}


h1 {
    font-family: playfair-regular, serif;
    font-size: 2.0625em;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 3em;
}

h3 {
    font-family: roboto-light, sans-serif;
}

h4 {
    font-family: lato-regular, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 250%;
    max-width: 295px;
    margin-bottom: 5em;
}

p {
    font-family: lato-regular, sans-serif;
}


/* Classes */
.show {
    display: block !important;
}
.hide {
    display: none;
}
.grey {
    color: #cacaca;
}
.dark-theme {
    background-color: #181818;
    color: white;
}

.white-bg {
    background-color: white;
    width: 100%;
    height: 89px;
    position: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    width: 79%;
    margin: auto;
}

.navbar {
    margin: auto;
    width: inherit;
    max-width: inherit;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: baseline;
    padding-top: 52px;
    background-color: white;
}
.navbar div {
    /* display: inline-block; */
    vertical-align: baseline;
}

.navbar div:nth-of-type(1) {
    float: left;
}
.navbar div:nth-of-type(2) {
    float: right;
}

.logo {
    display: inline;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.navbar-toggle {
    cursor: pointer;
    display: inline;
    padding-top: 2px;
    float: right;
}

#close-btn {
    position: relative;
    z-index: 1;
    top: 45px;
    right: 2.5em;
    cursor: pointer;
}

#wave-btn {
    position: relative;
    z-index: 1;
    top: 20em;
    right: 3em;
    cursor: pointer;
}

.main-nav-container {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(34, 34, 34, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 
    display: none;
    align-content: right;
    text-align: right;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.3s;
    animation-name: fade;
    animation-duration: 0.3s;
}

.main-nav {
    list-style-type: none;
    display: none;
    position: relative;
    top: 20%;
    /* right: 12% !important; */
    width: inherit;
    max-width: inherit;
}

ul .main-nav:nth-of-type(1) {
    right: 0 !important;
}

.right-12 {
    right: 12% !important;
}

.main-nav li {
    text-align: right;
    margin: 2em auto;
    display: block;
    transition: 0.3s;
}
.nav-link {
    font-family: lato-bold, sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 10px;
    color: white;
}
.nav-link:hover {
    color: #33B8A8;
} 
.active-nav {
    border-bottom: 3px solid #33B8A8;
}

.text-highlight {
    color: #33B8A8;
    padding-bottom: .12em;
    border-bottom: 1px solid #33B8A8;
    cursor: pointer;
}

.teal {
    text-decoration: none;
    color: #33B8A8;
}

.theme-toggle {
    align-self: flex-end;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 5%;
    right: 1%;
    transform: scale(.5, .5);
    cursor: pointer;
}

.work-title {
    color: #555555;
    padding-bottom: .25em;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}
.work-title-dark {
    color: #cacaca;
    border-bottom: 2px solid rgba(185, 185, 185, 0.5);
}

.view-work-container {
    /* display: flex; */
    flex-direction: row;
    width: 7.5em;
    cursor: pointer;
}

.view-work-container:hover #arrow-down {
    animation: bounce2 2s infinite;
}

.slideshow-container {
    /* display: none; */
}

.slideshow-container div {
    text-align: center;
}

.next-img {
    cursor: pointer;
    display: inline-block;
    height: 7px;
    width: 42px;
    margin: 0 .5em;
    background-color: #bbb;
}
.active-img, .next-img:hover {
    background-color: #33B8A8;
}

.project-container {
    border: 1px solid #B8B8B8;
    border-radius: 10px;
    max-width: 1560px;
    margin: 25px 22px;
}

.project {
    /* border: 1px solid #B8B8B8;
    border-radius: 10px; */
    /* max-width: 1560px; */
    /* margin: 25px 22px; */
    padding: 50px 21px 150px 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project img {
    display: block;
    width: 286px;
    /* justify-self: center; */
    margin: 0 auto 50px auto;
}

.project-name {
    margin: 13px 0;
}
.project-desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 175%;
    max-width: 280px;
    margin-bottom: 26px;
}

#flip-title {
    line-height: 130%;
}

.process-btn {
    font-family: lato-regular, sans-serif;
    color: #33B8A8;
    text-decoration: none;
    background: none;
    font-size: 16px;
    line-height: 175%;
    padding: 10px 40px;
    text-align: center;
    border: 1px solid #33B8A8;
    border-radius: 5px;
    transition: 0.4s;
}
.process-btn:hover {
    background-color: #33B8A8;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@-webkit-keyframes loadbar {
    
}
@keyframes loadbar {
    
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
@-webkit-keyframes bounce2 {
	0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(10px);
    }
}
@keyframes bounce2 {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(10px);
    }
}

/* IDs */

#view-work {
    font-size: 14px;
    text-align: center;
    padding-bottom: .5em;
    margin-right: 16px;
    border-bottom: 2px solid #DADADA;
    display: inline-block;
    width: 6.3em;
    white-space: nowrap;
}

#view-work::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: .5em;
    background: #33B8A8;
    transition: width .5s;
    position: absolute;
}
#view-work:hover::after {
    width: 6.1em;
}

/* #view-work:hover {
    animation-name: loadbar;
    -webkit-animation-name: loadbar;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    border-bottom: 2px solid #33B8A8;
} */

#arrow-down {
    align-self: center;
    transform: scale(.8, .8);
    display: inline-block;
    /* position: relative; */
    float: right;
}

#back-top-btn {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 4.75em;
    transform: scale(0.8, 0.8);
    cursor: pointer;
}

#hero-container {
    padding-top: 10em;
    margin-bottom: 18%;
}
#nina-img {
    display: none;
    font-size: 12px;
    line-height: 175%;
}


.footer {
    font-family: lato-regular, sans-serif;
    font-size: 14px;
    color: #777777;
    margin-bottom: 4em;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-content: center;
}

.footer img {
    width: 60%;
    max-width: 50px;
    justify-self: flex-end;
}

.footer div {
    /* display: inline-block; */
}
.footer div:nth-of-type(1) {
    vertical-align: middle;
    padding-top: 8px;
}

.contact-container {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 20px;
    cursor: pointer;
    margin-right: 2em;
}

.wave-link {
    font-size: 12px;
    background-color: #33B8A8;
    border-radius: 10px;
    color: white;
    padding: 3px 9px;
    margin: 0 0 10px 10px;
    text-transform: uppercase;
    position: absolute;
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.contact-container:hover .wave-link {
    opacity: 1;
    transition: all .3s;
    -webkit-transition: all .3s;
    transform: translateY(-4px);
}


/* Media queries */

/* iPad/Tablets */
@media screen and (min-width: 768px) {

    h1 {
        font-size: 36px;
        max-width: 470px;
        margin: 0;
        line-height: 175%;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 4em;
        max-width: 650px;
    }

    .container {
        width: 80%;
        margin: 0 auto 0 auto;
    }

    .main-nav-container {
        display: none;
    }

    .navbar {
        padding-bottom: 0;
        margin-bottom: 6em;
        height: 89px;
        align-items: center;
    }
    .main-nav:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
    }
    .main-nav li {
        text-align: center;
        margin: 0;
    }
    .nav-link {
        font-family: lato-light, sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        padding-bottom: 10px;
        color: black;
        border-bottom: 3px solid #EEEEEE;
        margin-left: 63px;
        width: 3.95em;
        text-align: center;
    }

    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        margin-top: 10px;
        margin-left: 63px;
        background: #33B8A8;
        transition: width .5s;
        position: absolute;
    }
    .nav-link:hover::after {
        width: 3.95em;
    }

    .navbar-toggle {
       display: none;
    }


   /*  .logo:hover,
    .nav-link:hover {
        color: #33B8A8;
    } */

    .view-work-container {
        margin-top: 7em;
        width: 9em; 
    }

    .theme-toggle {
        transform: rotate(90deg) scale(.7, .7);
        bottom: 50%;
        right: 1px;
    }

    .slideshow-container {
        display: flex;
        flex-direction: column;
        /* align-self: center; */
        align-content: space-between;
    }

    .project-content {
        margin-left: 3em;
    }

    .project-container {
        width: 85%;
        margin: 51px auto;
    }

    .project {
        /* width: 85%; */
        /* margin: 51px auto; */
        padding: 100px 0;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .project img {
        display: block;
        width: 550px;
        height: auto;
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
    }
    .project-name {
        margin: .4em 0 .17em 0;
    }
    .project-desc {
        font-size: 14px;
        max-width: 320px;
        margin-bottom: 3.2em;
    }
    .process-btn {
        width: 250px;
        height: 68px;
        font-size: 16px;
        padding: .8em 2em;
    }

    #cardiaid-card {
        padding-bottom: 50px;
    }

    #flip-title {
        margin: .5em 0;
    }

    #bidform-phone {
        max-width: 400px;
        height: 100%;
        /* margin-bottom: 2em; */
    }
    #bidform-ipad {
        margin-top: 0;
    }

    #cardiaid-img-2 {
        max-width: 450px;
        height: 100%;
    }

    #hero-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 14em;
        margin-bottom: 25em;
    }

    #hero-text {
        padding-top: 2em;
    }

    #view-work {
        font-size: 18px;
    }
    #arrow-down {
        transform: scale(1, 1);
    }

    #back-top-btn {
        bottom: 5%;
        right: 1em;
    }

    .footer {
        font-size: 14px;
        margin: 1em 0 4em 0;
    }

}

/* Small desktops */
@media screen and (min-width: 1024.5px) {

    #hero-text {
        max-width: 60%;
    }

    #hero-container img {
        max-width: 350px;
        height: 100%;
        width: 100%;
        margin-bottom: 22px;
    }

    #nina-img {
        display: block;
    }

    /* .project {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    } */

    .project-container {
        /* width: 85%; */
    }

    .project {
        display: grid;
        grid-template-columns: 50% auto 44%;
        justify-items: start;
        justify-content: space-between;
        max-width: 900px;
        margin: auto;
    }

    .slideshow-container {
        justify-self: center;
    }

    .slideshow-container div {
        padding-top: 5em;
    }

    .project-content {
        align-self: center;
        /* justify-self: center; */
        /* justify-self: end; */

        grid-column: 3 / 4;
    }

    .project img {
        width: 500px;
        height: auto;
        margin: 0;
    }

    .project-name {
        font-size: 36px;
    }

    .process-btn {
        width: 500px !important;
    }

    #flip-title {
        font-size: 36px;
    }



}

@media screen and (min-width: 1200px) {

    #back-top-btn {
        right: 1.5em;
    }

}

@media screen and (min-width: 1280px) {

    .container, .project {
        max-width: 900px;
    }

}


@media screen and (max-height: 720px) {

    #hero-container {
        padding-top: 10em;
    }

    .view-work-container {
        margin-top: 5em;
    }

}

@media screen and (min-height: 720px) {

    #hero-container {
        margin-bottom: 18%;
    }

}

@media screen and (min-width: 1325px) {

    .container, .project {
        max-width: 975px;
    }

}

/* TODO: Add another media query for project image scaling */

/* Widescreen desktops */
@media screen and (min-width: 1600px) {

    .container, .project {
        max-width: 1325px;
    }

    .nav-link {font-size: 18px}
    .logo {font-size: 20px}

    .view-work-container {
        width: 180px;
    }

    .margin-right-10 {
        margin-right: 13em;
    }

    h1 {
        font-size: 3.25rem;
        max-width: 700px;
    }

    #view-work {
        font-size: 22px;
    }

    #hero-container {
        padding-top: 18em;
    }

    #hero-container img {
        max-width: 450px;
        height: 100%;
    }

    #flip-title {
        font-size: 44px;
    }
    #flip-desc {
        font-size: 16px;
    }

    #bidform-phone {
        max-width: 550px;
    }

    #cardiaid-img-2 {
        max-width: 600px;
    }

    #nina-img p {
        font-size: 16px;
    }

    .navbar {
        margin-bottom: 11em;
    }

    .process-btn {
        font-size: 22px;
    }

    .project {
        grid-template-columns: 50% auto 32%;
    }

    .slideshow-container {
        /* justify-self: end; */
    }

    .project-content {
        margin-left: 0;
    }
    .project-name {
        font-size: 42px;
    }
    .project-desc {
        font-size: 18px;
        max-width: inherit;
    }

    .project img {
        margin-left: 5em;
        width: 650px;
    }
    .flip-desc {
        max-width: 490px;
    }

    #flip-images img {
        /* max-width: 600px; */
    }

    #back-top-btn {
        right: 2.5em;
    }

    .footer {
        font-size: 18px;
        margin: 2em 0 4em 0;
    }
    .footer div:nth-of-type(1) {
        margin-top: .7em;
    }
    .footer img {
        width: 100%;
    }

}

@media screen and (min-width: 1920px) {

    .project img {
        width: 800px;
    }

}

