/* Tags */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
}


h1 {
    font-family: serif;
    font-size: 2.0625em;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 3em;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 250%;
    max-width: 295px;
    margin-bottom: 5em;
}


/* Classes */
.show {
    display: block !important;
}
.hide {
    display: none;
}
.grey {
    color: #cacaca;
}
.dark-theme {
    background-color: #181818;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 43px;
    /* margin-bottom: 20em; */
}

.navbar {
    padding: 31px 0;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    background-color: white;
}
.logo {
    display: inline-block;
    text-decoration: none;
    color: #555555;
    font-size: 22px;
    font-weight: 500;
    margin-left: 40px;
}
.navbar-toggle {
    cursor: pointer;
    display: inline-block;
    margin-right: 2em;
}
.main-nav {
    list-style-type: none;
    display: none;
    margin-right: 40px;
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    padding-bottom: 10px;
    color: black;
    border-bottom: 3px solid #EEEEEE;
}
.nav-link:hover {
    color: #33B8A8;
}
.active-nav {
    border-bottom: 3px solid #33B8A8;
}

.text-highlight {
    color: #33B8A8;
    padding-bottom: .12em;
    border-bottom: 1px solid #33B8A8;
}
.text-highlight:hover {
    text-decoration: line-through;
    border-bottom: none;
}

.theme-toggle {
    align-self: flex-end;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 5%;
    right: 1%;
    transform: scale(.5, .5);
    cursor: pointer;
}

.work-title {
    color: #555555;
    padding-bottom: .25em;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}
.work-title-dark {
    color: #cacaca;
    border-bottom: 2px solid rgba(185, 185, 185, 0.5);
}

.view-work-container {
    display: flex;
    flex-direction: row;
    width: 144px;
    cursor: pointer;
}

.slideshow-container {
    display: none;
}

.slideshow-container div {
    text-align: center;
}

.next-img {
    cursor: pointer;
    display: inline-block;
    height: 7px;
    width: 42px;
    margin: 0 .5em;
    background-color: #bbb;
}
.active-img, .next-img:hover {
    background-color: #33B8A8;
}

.project {
    border: 1px solid #B8B8B8;
    border-radius: 10px;
    margin: 25px 22px;
    padding: 40px 21px 328px 17px;
    max-width: 1560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project img {
    display: none;
}

.project-skill {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.project-name {
    margin: 13px 0;
}
.project-desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 175%;
    max-width: 280px;
    margin-bottom: 26px;
}
.process-btn {
    color: #33B8A8;
    text-decoration: none;
    background: none;
    font-size: 15px;
    line-height: 175%;
    padding: 8px 5px;
    text-align: center;
    border: 1px solid #33B8A8;
    border-radius: 5px;
    transition: 0.4s;
}
.process-btn:hover {
    background-color: #33B8A8;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.contact-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}
.contact-list li {
    text-align: center;
}
.contact-link {
    text-decoration: none;
    color: #666666;
    margin: 0 1em;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* IDs */

#view-work {
    font-size: 14px;
    text-align: center;
    padding-bottom: .5em;
    margin-right: 18px;
    border-bottom: 2px solid #DADADA;
}
#arrow-down {
    align-self: center;
    transform: scale(.8, .8);
}

#back-top-btn {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 4.75em;
    transform: scale(0.8, 0.8);
    cursor: pointer;
}

#hero-container {
    padding-top: 8em;
    margin-bottom: 20em;
}
#hero-container img {
    display: none;
}
#nina-img {
    display: none;
    font-size: 16px;
    line-height: 175%;
}

#blueprint-img {
    display: none;
    font-size: 16px;
    line-height: 175%;
}
#blueprint-img p {
    color: #555555;
}

#soundcloud-img {
    display: none;
}

.footer {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #777777;
    margin-bottom: 4em;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.footer img {
    width: 60%;
}

.footer div {
    display: inline-block;
}
.footer div:nth-of-type(1) {
    vertical-align: middle;
    padding-top: 8px;
}


/* Media queries */

/* iPad/Tablets */
@media screen and (min-width: 768px) {

    h1 {
        font-size: 36px;
        max-width: 700px;
        margin: 0;
        line-height: 175%;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 4em;
        max-width: 650px;
    }

    .container {
        width: 70%;
        margin: 0 auto 0 auto;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        margin-bottom: 6em;
        height: 89px;
        align-items: center;
    }
    .logo {
        margin-left: 17.5%;
        margin-top: 10px;
    }
    .main-nav {
        display: flex;
        margin-right: 15%;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-link {
        margin-left: 63px;
    }
    .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-link:hover {
        color: #33B8A8;
    }

    .view-work-container {
        margin-top: 14em;
        width: 200px;
    }

    .theme-toggle {
        transform: rotate(90deg) scale(.7, .7);
        bottom: 50%;
        right: 1px;
    }

    .slideshow-container {
        display: block;
        align-self: center;
    }

    .project-content {
        margin-left: 3em;
    }
    .project {
        width: 85%;
        margin: 51px auto;
        padding: 100px 0;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .project img {
        display: block;
        width: 550px;
        height: auto;
        margin-top: 5em;
    }
    .project-skill {
        font-size: 15px;
    }
    .project-name {
        margin: 38px 0;
    }
    .project-desc {
        font-size: 15px;
        max-width: 320px;
        margin-bottom: 4em;
    }
    .process-btn {
        width: 250px;
        height: 68px;
        font-size: 16px;
        padding: .8em 2em;
    }

    
    .contact-link {
        margin: 0 2em;
    }

    #bidform-phone {
        max-width: 400px;
        height: 100%;
        margin-bottom: 2em;
    }
    #bidform-ipad {
        margin-top: 0;
    }

    #cardiaid-img-2 {
        max-width: 450px;
        height: 100%;
    }

    #hero-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 14em;
        margin-bottom: 25em;
    }

    #hero-text {
        padding-top: 2em;
    }

    #view-work {
        font-size: 18px;
    }
    #arrow-down {
        transform: scale(1, 1);
    }

    #back-top-btn {
        bottom: 5%;
        right: 1em;
    }

    .footer {
        font-size: 14px;
        margin: 1em 0 4em 0;
    }

}

/* Small desktops */
@media screen and (min-width: 1024.5px) {

    #hero-text {
        max-width: 60%;
    }

    #hero-container img {
        max-width: 350px;
        height: 100%;
        width: 100%;
        margin-bottom: 22px;
    }

    #soundcloud-img {
        max-width: 300px;
    }

    .project {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    .project img {
        width: 500px;
        height: auto;
    }

    .project-name {
        font-size: 48px;
    }

    #flip-title {
        font-size: 36px;
    }


}

@media screen and (min-width: 1200px) {

    #flip-title {
        font-size: 40px;
    }

    #back-top-btn {
        right: 1.5em;
    }

    

}

@media screen and (min-width: 1325px) {

    #soundcloud-img {
        max-width: 350px;
    }


}

/* TODO: Add another media query for project image scaling */

/* Widescreen desktops */
@media screen and (min-width: 1600px) {

    .container {
        max-width: 1560px;
    }

    .margin-right-10 {
        margin-right: 13em;
    }

    h1 {
        font-size: 3.5rem;
    }

    #view-work {
        font-size: 22px;
    }

    #hero-container {
        padding-top: 18em;
    }

    #hero-container img {
        max-width: 450px;
        height: 100%;
    }

    #flip-title {
        font-size: 44px;
    }
    #flip-desc {
        font-size: 16px;
    }

    #bidform-phone {
        max-width: 600px;
    }

    #cardiaid-img-2 {
        max-width: 600px;
    }

    .navbar {
        margin-bottom: 11em;
    }

    .process-btn {
        font-size: 22px;
    }

    .project-content {
        margin-left: 0;
    }
    .project-skill {
        font-size: 24px;
    }
    .project-name {
        font-size: 56px;
    }
    .project-desc {
        font-size: 20px;
    }

    .project img {
        margin: 0;
        width: 800px;
    }
    .flip-desc {
        max-width: 490px;
    }

    #flip-images img {
        /* max-width: 600px; */
    }

    #back-top-btn {
        right: 2.5em;
    }

    .footer {
        font-size: 18px;
        margin: 2em 0 4em 0;
    }
    .footer div:nth-of-type(1) {
        margin-top: .7em;
    }
    .footer img {
        width: 100%;
    }

}

