/* FONTS */
@font-face {
    font-family: roboto-regular;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto-light;
    src: url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: playfair-regular;
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: playfair-bold;
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Bold.ttf");
}
@font-face {
    font-family: lato-regular;
    src: url("./fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: lato-bold;
    src: url("./fonts/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: lato-light;
    src: url("./fonts/Lato/Lato-Light.ttf");
}

/* Tags */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: lato-regular, sans-serif;
    font-size: 1em;
    color: black;
}

ol {
    list-style: none;
    counter-reset: item;
    padding-left: 2.5em;
}
ol li {
    counter-increment: item;
    position: relative;
}
ol li::before {
    content: counter(item);
    color: #3BAB9E;
    font-family: serif;
    font-size: 30px;
    line-height: 175%;
    font-weight: 600;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    top: 0;
    text-align: center;
}

#delivery-num {
    font-size: 30px; 
}

h1 {
    font-family: playfair-reglar, serif;
}

/* Classes */
.show {
    display: block;
}
.hide {
    display: none;
}
.grey {
    color: #cacaca;
}
.full-container {
    width: 100%;
    max-width: 1325px;
}
.dark-theme {
    background-color: #181818;
    color: white;
}

.inline {
    display: inline-block;
}

.no-margin {
    margin: 0 !important;
}

.margin-2 {
    margin: 2em 0;
}

.margin-2-top {
    margin-top: 2em !important;
}
.margin-2a-top {
    margin-top: 2.3em !important;
}
.margin-3-top {
    margin-top: 3em !important;
}
.margin-4-top {
    margin-top: 4em !important;
}
.margin-5-top {
    margin-top: 5em !important;
}
.margin-6-top {
    margin-top: 6.3em !important;
}
.margin-8-top {
    margin-top: 8em !important;
}
.margin-12-top {
    margin-top: 12em !important;
}
.margin-40px {
    margin: 1.818em 0 !important;
}
.margin-30px {
    margin: 30px 0 !important;
}
.margin-10px {
    margin: 10px 0 !important;
}
.margin-0-bot {
    margin-bottom: 0 !important;
}
.margin-0-top {
    margin-top: 0 !important;
}
.margin-50px-bot {
    margin-bottom: 50px !important;
}

.container {
    max-width: 80%;
    margin: auto;
}

.navbar {
    margin: auto;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: baseline;
    padding-top: 52px;
    background-color: white;
    margin-bottom: 5em;
}
.navbar div {
    /* display: inline-block; */
    vertical-align: baseline;
}

.navbar div:nth-of-type(1) {
    float: left;
}
.navbar div:nth-of-type(2) {
    float: right;
}

#close-btn {
    position: relative;
    z-index: 1;
    top: 45px;
    right: 2.5em;
    cursor: pointer;
}

#wave-btn {
    position: relative;
    z-index: 1;
    top: 20em;
    right: 3em;
    cursor: pointer;
}

.main-nav-container {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(34, 34, 34, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 
    display: none;
    align-content: right;
    text-align: right;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.3s;
    animation-name: fade;
    animation-duration: 0.3s;
}

.logo {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 500;
}
.navbar-toggle {
    cursor: pointer;
    display: inline;
    padding-top: 2px;
    float: right;
}
.main-nav {
    list-style-type: none;
    display: none;
    position: relative;
    top: 20%;
    right: 12%;
    width: inherit;
    max-width: inherit;
}
.main-nav li {
    text-align: right;
    margin: 2em auto;
    display: block;
    transition: 0.3s;
}
.nav-link {
    font-family: lato-bold, sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 10px;
    color: white;
}
.nav-link:hover {
    color: #33B8A8;
}
.active-nav {
    border-bottom: 3px solid #33B8A8;
}

.text-highlight {
    color: #33B8A8;
    padding-bottom: .12em;
    border-bottom: 1px solid #33B8A8;
}
.text-highlight:hover {
    text-decoration: line-through;
    border-bottom: none;
}

.wide-img {
    width: 100%;
}

.sidebar-container {
    display: none;
}

.hero-container h1 {
    font-size: 32px;
    line-height: 135%;
    font-weight: 400;
    color: #1A1A1A;
    margin-bottom: .5em;
}
.hero-subtitle {
    font-family: lato-light, sans-serif;
    font-size: 17px;
    color: #1A1A1A;
    line-height: 175%;
    font-weight: 300;
    margin-bottom: 2em;
}
.hero-container hr {
    margin: 2em 0;
    color: #CCCCCC;
}

.project-summary {
    margin: 2em 0 2em 0;
}

.project-info p:nth-of-type(even) {
    margin-bottom: 2.2em;
}

.scroll-down-container {
    text-align: center;
    margin-bottom: 20em;
    transform: rotateX(180deg);
}
.scroll-down {
    animation: bounce 2s infinite;
}
.scroll-down span {
    cursor: pointer;
}

.userScripts {
    display: none;
}

.teal-num {
    font-family: playfair-bold, serif !important;
    font-size: 30px;
    line-height: 175%;
    font-weight: 600;
    color: #3BAB9E !important;
    margin-right: .5em;
    display: inline-block;
}

.block-quote {
    margin-top: 2em;
    border-left: 6px solid #555555;
    padding: .2em 0 .2em 2em;
    line-height: 175%;
    max-width: 68%;
    margin-bottom: 5em;
}
.block-quote p {
    margin: 0 !important;
}

.section {
    margin: 2em 0 4em 0;
}

.section button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #234CB4;
    text-decoration: none;
    font-size: 18px;
    margin-top: 3em;
    background-color: white;
    margin-bottom: 2.5em;
}
.section a {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #234CB4;
    text-decoration: none;
    font-size: 16px;
    margin-top: 2em;
}

.section h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 175%;
    color: #266D65;
    font-family: roboto-regular, sans-serif;
    margin-bottom: .9em;
    text-transform: uppercase;
}
.section h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 175%;
    color: #777777;
    font-family: lato-regular, sans-serif;
     margin-bottom: 1em; 
}
.section h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 175%;
    color: #777777;
    font-family: lato-regular, sans-serif;
    margin: 1.5em 0;
}
.section h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    color: #777777;
    font-family: lato-regular, sans-serif;
}
.section h6 {
    font-size: 15px;
    color: black;
    line-height: 175%;
    font-weight: 700;
    font-family: lato-bold, sans-serif;
}

.section p {
    font-size: 16px;
    line-height: 175%;
    font-family: lato-regular, sans-serif;
}

.section button span img {
    margin-left: 1em;
}

.drop-shadow {
    -webkit-box-shadow: 0px 2px 6px 1px rgb(185, 185, 185);
    -moz-box-shadow: 0px 2px 6px 1px rgb(185, 185, 185);
    box-shadow: 0px 2px 6px 1px rgb(185, 185, 185);
}

.teal {
    color: #3BAB9E;
    font-family: lato-regular, sans-serif;
    font-weight: 500;
    font-size: 20px;
    vertical-align: text-top;
    white-space: nowrap;
}
#teal-delivery {
    width: 85%;
    vertical-align: top;
}

.week {
    color: #3BAB9E !important;
    font-family: lato-regular, sans-serif;
    font-size: 22px;
    font-weight: 400 !important;
    line-height: 175%;
    margin-top: 3.1em;
    margin-bottom: 10px !important;
}

.grey-bg {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    margin: 2em 0;
}

.findings-container {
    line-height: 150%;
}
.findings-container div {
    margin: 4.2em 0;
}
.findings-container div:nth-of-type(1) {
    float: left;
}
.findings-container div:nth-of-type(2) {
    float: left;
}
.findings-container div h4 {
    color: #2F2F2F;
    margin-bottom: 1em;
    font-family: lato-bold, sans-serif;
}
.findings-container div ul li {
    margin: 1em 0;
}

#vital-patch-findings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.num-list li {
    margin: 2em 0;
}

.bullet-list {
    margin: 1em 0;
}
.bullet-list ul li {
    margin: .69em 0;
}

.frame-container {
    padding-bottom: 56.25%; 
    position: relative; 
    display: block; 
    width: 100%;
    overflow: hidden;
}
.frame-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    margin: 1em 0;
}

.yellow-bg {
    width: 100%;
    background-color: rgba(252, 175, 23, 0.2);
}

.table-container {
    overflow-x: scroll;
}

table, th, td {
    border: 2px solid #777777;
}
table {
    border-collapse: collapse;
    width: 600px;
    /* max-width: 1325px; */
    margin: 3em 0;
}
th, td {
    padding: 1em;
    line-height: 125%;
    width: 240px;
}
th {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-family: lato-bold, sans-serif;
}
td {
    vertical-align: top;
    font-size: 12px;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-container div img {
    max-width: 300px;
    margin: 4em 0 2em 4em;
}

#hidden-metric {
    /* padding-top: 5em; */
    /* margin-bottom: 20em; */
    display: none;
}

#system-diagram {
    margin: 3.1em 0;
}

.ref-container {
    margin-top: 4.3em;
    width: 100%;
    display: none;
}

.refs {
    display: flex;
    flex-direction: row;
    margin: 1.5em 0;
}
.refs div:nth-child(odd) {
    margin-right: 3em;
    font-size: 16px;
    line-height: 125%;
}
.refs div:nth-child(even) {
    font-size: 16px;
}

.flip-posters {
    display: flex;
    flex-direction: column;
}
.flip-posters img {
    margin: 1.5em 0;
}

/* Used for the Bidform Solutions Section */
.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    grid-row-gap: 4em;
    grid-column-gap: 6em; */
}
.grid-container img {
    max-width: 280px;
    margin: 1em 0;
    align-self: center;
}
.item7, .item8, .item9 { /* Descriptions for GIFs */
    margin: 1em 0 3em 0;
}

.item1 {grid-area: 1 / 1 / 1 / 1}
.item2 {grid-row-start: 4}
.item3 {grid-row-start: 7}
.item4 {grid-row-start: 2}
.item5 {grid-row-start: 5}
.item6 {grid-row-start: 8}
.item7 {grid-row-start: 3}
.item8 {grid-row-start: 6}
.item9 {grid-row-start: 9}



#end-container {
    margin: 8em 0 4em 0;
    display: flex;
    align-items: flex-end;
}

#back-index {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-right: 1em;
    color: black;
    background-color: white;
    white-space: nowrap;
}
#back-index span img {
    position: relative;
    height: 100%;
    width: 10%;
}

#explore-btn {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    display: inline-block;
    overflow-wrap: break-word;
    /* max-width: 15em; */
}
#explore-btn span img {
    position: relative;
    height: 100%;
    width: 14%;
}

.explore-flip {
    max-width: 220px;
}

#back-top-btn {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 4.75em;
    transform: scale(0.8, 0.8);
    cursor: pointer;
    animation: fade 0.3s;

}

#system-diagram {
    width: 60%;
    height: auto;
    justify-self: center;
}

.img-container {
    display: block;
    text-align: center;
    margin-bottom: 8em;
}
.img-container img {
    width: 100%;
    height: auto;
    margin-bottom: 5em;
}

.footer {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #777777;
    margin: 4em 0;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.footer img {
    width: 60%;
}

.footer div {
    display: inline-block;
}
.footer div:nth-of-type(1) {
    vertical-align: middle;
    padding-top: 8px;
}

.container hr {
    border-top: 1px solid #DDDDDD;
}

/* About Section */
#about-quote {
    font-size: 18px;
    font-weight: 700;
    font-style: italic; 
    font-family: 'Lato', sans-serif;
    color: #555555;
    line-height: 175%;
    margin: 2em 0;
    border-left: 2px solid black;
    padding-left: 1.5em;
    /* max-width: 800px; */
}

#about-links {
    margin: 4em 0 12em 0;
}

#email-btn {
    color: black;
    border: 1px solid black;
    border-radius: 5px; 
    margin-left: 1em;
}
#email-btn:hover {
    background-color: black;
    color: white;
}

.process-btn {
    font-family: lato-regular, sans-serif;
    color: #33B8A8;
    text-decoration: none;
    background: none;
    font-size: 16px;
    line-height: 175%;
    padding: 10px 40px;
    text-align: center;
    border: 1px solid #33B8A8;
    border-radius: 5px;
    transition: 0.4s;
}
.process-btn:hover {
    background-color: #33B8A8;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.contact-container {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 20px;
    cursor: pointer;
    margin-right: 2em;
}

.wave-link {
    font-size: 12px;
    background-color: #33B8A8;
    border-radius: 10px;
    color: white;
    padding: 3px 9px;
    margin: 0 0 10px 10px;
    text-transform: uppercase;
    position: absolute;
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.contact-container:hover .wave-link {
    opacity: 1;
    transition: all .3s;
    -webkit-transition: all .3s;
    transform: translateY(-4px);
}

/* Media queries */

@media screen and (min-width: 562px) {
    .explore-flip {
        max-width: 100%;
    }
}

/* iPad/Tablets */
@media screen and (min-width: 768px) {

    .container {
        max-width: 80%;
        margin: auto;
    }

    .main-nav-container {
        display: none;
    }

    .navbar {
        padding-bottom: 0;
        margin-bottom: 6em;
        height: 89px;
        align-items: center;
    }
    .main-nav:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
    }
    .main-nav li {
        text-align: center;
        margin: 0;
    }
    .nav-link {
        font-family: lato-light, sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        padding-bottom: 10px;
        color: black;
        border-bottom: 3px solid #EEEEEE;
        margin-left: 63px;
    }

    .nav-link {
        font-family: lato-light, sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        padding-bottom: 10px;
        color: black;
        border-bottom: 3px solid #EEEEEE;
        margin-left: 63px;
        width: 3.95em;
        text-align: center;
    }

    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        margin-top: 10px;
        margin-left: 63px;
        background: #33B8A8;
        transition: width .5s;
        position: absolute;
    }
    .nav-link:hover::after {
        width: 3.95em;
    }

    .navbar-toggle {
       display: none;
    }
    .logo:hover {
        color: #33B8A8;
    }

    .project-summary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .project-info {
        font-size: 15px;
        line-height: 175%;
        max-width: 200px;
    }

    .table-container {
        overflow-x: hidden;
    }

    .product-container {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 7em;
    }

    .process-btn {
        width: 250px;
        height: 68px;
        font-size: 16px;
        padding: .8em 2em;
    }

    #back-top-btn {
        bottom: 5%;
        right: 1em;
    }


    table {
        width: 100%;
        margin: 3em 0;
    }
    th, td {
        padding: 1em;
        line-height: 150%;
        width: 240px;
    }
    th {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
    td {
        vertical-align: top;
        font-size: 14px;
    }

    #pdf-form {
        max-width: 675px;
        margin: 0;
    }

    h2 {
        font-family: roboto-regular, sans-serif;
        font-size: 34px;
        font-weight: 400;
        line-height: 175%;
        text-transform: uppercase;
        color: #777777;
        margin-bottom: 2em;
    }
    h3 {
        font-family: lato-regular, sans-serif;
        font-size: 28px;
        color: #777777;
        margin-bottom: 1em;
    }

    .hero-container h1 {
        font-size: 48px;
    }
    .hero-subtitle {
        font-size: 24px;
        max-width: 600px;
    }
    .wrap-subtitle {
        max-width: 500px;
    }

    .section {
        /* margin-bottom: 10em; */
    }
    #note {
        font-size: 22px;
        display: flex;
        align-items: initial;
        margin: 1.5em 0;
        font-family: roboto-bold, sans-serif;
    }
    #note p {
        margin-left: 1em;
        max-width: 850px;
    }

    .section p {
        line-height: 175%;
        max-width: 800px;
    }

    .section button {
        font-size: 22px;
    }

    .section button span:nth-child(even) {
        display: none;
    }

    .section a {
        font-size: 18px;
        margin-top: 3em;
    }

    #cardiaid-img {
        width: 75%;
    }


    .wide-img {
        margin-bottom: 3em;
        text-align: center;
    }

    /* TODO: Add Lato bold font weight */
    .section h4 {
        font-family: lato-regular, sans-serif;
        line-height: 175%;
        font-weight: 700;
        color: #777777;
        margin-top: 2.1em;
        margin-bottom: .87em;
    }

    .findings-container {
        width: 100%;
    }
   .findings-container div {
       width: 46%;
   }
   .findings-container div h4 {
       font-size: 20px;
       font-weight: 500;
       margin-bottom: 2em;
       color: #2F2F2F;
   }
   .findings-container div ul li {
       font-size: 20px;
       line-height: 175%;
       margin-bottom: .5em;
   }
   .findings-container div:nth-of-type(2) {
        float: right;
    }

   #vital-patch-findings {
        flex-direction: row;
        justify-content: space-between;
    }
    

    .teal-num {
        font-size: 43px !important;
    }

    #teal-delivery {
        vertical-align: baseline;
    }

    .num-list {
        margin-top: 3em;
        max-width: 800px;
    }
    .num-list li {
        font-size: 18px;
        line-height: 175%;
        margin: 2em 0;
    }

    .grid-container {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: space-between;
        grid-column-gap: 5em;
    }
    .grid-container p {
        font-family: roboto-regular, sans-serif;
        font-size: 18px;
        line-height: 150%;
    }
    .grid-container img {
        /* max-width: 370px; */
        -webkit-box-shadow: 2px 2px 12px 2px rgba(120,120,120,0.75);
        -moz-box-shadow: 2px 2px 12px 2px rgba(120,120,120,0.75);
        box-shadow: 2px 2px 12px 2px rgba(120,120,120,0.75);
    }

    .item1 {grid-area: 1 / 1 / 1 / 1}
    .item2 {grid-area: 1 / 2 / 1 / 2}
    .item3 {grid-area: 1 / 3 / 1 / 3}
    .item4 {grid-area: 2 / 1 / 2 / 1}
    .item5 {grid-area: 2 / 2 / 2 / 2}
    .item6 {grid-area: 2 / 3 / 2 / 3}
    .item7 {grid-area: 3 / 1 / 3 / 1}
    .item8 {grid-area: 3 / 2 / 3 / 2}
    .item9 {grid-area: 3 / 3 / 3 / 3}

    #end-container {
        margin-top: 12em;
        margin-bottom: 5em;
    }

    #back-index {
        font-size: 18px;
        margin-right: 2em;

    }
    #back-index span img {
        width: 10%;
        margin-right: 15px;
    }

    #explore-btn {
        display: inline;
        font-size: 18px;
    }

    #explore-btn span img {
        width: 8%;
        margin-left: 1.2em;
    }

    #system-diagram {
        width: 60%;
        height: auto;
        justify-self: center;
    }

    #delivery-list {
        max-width: 650px;
    }


    .bullet-list {
        font-size: 18px;
        line-height: 175%;
        max-width: 800px;
        width: 100%;
        padding-left: 1em;
    }
    .bullet-list ul li {
        padding-left: 1em;
    }
    
    .refs div {
        font-size: 18px !important;
    }
    
    /* Font Sizes */
    .section h2 {
        font-size: 30px;
        margin-top: 3.7em;
    }
    .section h3 {
        font-size: 28px;
        margin-bottom: 1.1em;
    }
    .section h4 {
        font-size: 24px;
    }
    .section h5 {
        font-size: 22px;
    }
    .section h5 {
        margin-bottom: .9em;
    }
    .section h6 {
        font-size: 20px;
    }

    .section p, .section a, .num-list li, .section button {
        font-size: 18px;
    }

    .block-quote {
        margin-top: 2.3em;
        margin-bottom: 5.7em;
        font-size: 18px;
    }

    .section p {
        margin-bottom: 2.3em;
    }

    .findings-container div h4 {
        font-size: 18px;
    }
    .findings-container div ul li {
        font-size: 18px;
    }

    #end-container {
        margin-top: 10em;
    }

    #back-index, #explore-btn {
        font-size: 26px;
    }
    #explore-btn span img {
        width: 12%;
    }

    .footer {
        font-size: 14px;
    }

}

/* Small desktops */
@media screen and (min-width: 1024.5px) {

    #hidden-metric p {
        max-width: 925px;
    }

    .flip-posters {
        margin: 4em 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .flip-posters img {
        /* max-width: 450px; */
        width: 45%;
        margin-right: 1em;
    }

    .grid-container p {
        line-height: 175%;
    }

    .ref-container {
        width: 70%;
    }

}

@media screen and (min-width: 1280px) {

    .container, .big-mockup {
        max-width: 860px;
    }

    .product-container div img {
        max-width: 450px;
    }

    .project-info .teal {font-size: 20px}
    .project-info {
        /* font-size: 18px; */
        max-width: 250px;
    }

    #cardiaid-img {
        width: 70%;
    }

    #about-quote {
        font-size: 20px;
    }

    #back-top-btn {
        right: 1.5em;
    }

    .sidebar-container {
        position: fixed;
        bottom: 40%;
        left: 2%;
    }

    .sidebar {
        list-style: none;
        line-height: 25px;
    }

    .sidebar li {
        font-family: lato-light, sans-serif;
        font-size: 16px;
        line-height: 25px;
        margin: 1.5em 0;
        height: 25px;
    }

    .sidebar li a {
        text-decoration: none;
        color: black;
    }

    .sidebar-active {
        font-family: lato-bold, sans-serif !important;
        color: #555555;
        border-left: 1px solid #4761A3;
        padding-left: 10px;
    }

    .section p, .num-list, .bullet-list, #about-quote {
        max-width: 75%;
    }

}


@media screen and (min-width: 1325px) {

    .container, .big-mockup {
        max-width: 975px;
    }
    
}

/* Widescreen desktops */
@media screen and (min-width: 1600px) {

    .container, .big-mockup {
        max-width: 1200px;
    }

    h1 {
        font-family: playfair-regular, serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 175%;
        color: #1A1A1A;
    }

    th {font-size: 20px}
    td {font-size: 18px}

    .product-container div img {
        max-width: 580px;
    }

    .navbar {
        margin-bottom: 11em;
    }

    .process-btn {
        font-size: 22px;
    }

    .hero-container {
        padding-top: 5em;
        margin-bottom: 5em;
    }
    .hero-container h1 {
        font-size: 64px;
    }

    .hero-subtitle {
        font-size: 32px;
        max-width: 800px;
    }

    .sidebar li {
        font-size: 20px;
    }

    .flip-posters img {
        width: 47%;
    }

    .grey-bg {
        margin-bottom: 5em;
    }

    .project-info {
        font-size: 20px;
        /* margin-top: 5em; */
        /* margin-bottom: 10em; */
    }

    .section h2 {
        font-size: 34px;
    }
    .section h3 {
        font-size: 32px;
    }
    .section h4 {
        font-size: 28px;
    }
    .section h5 {
        font-size: 24px;
    }
    .section h6 {
        font-size: 22px;
    }

    .section a {
        font-size: 22px;
    }

    .section p, .num-list li, .section button {
        font-size: 22px;
    }

    .refs div {
        font-size: 22px !important;
    }

    .block-quote {
        font-size: 22px;
    }

    .section p, .num-list, .bullet-list, #about-quote {
        max-width: 60%;
    }

    .findings-container div h4, .grid-container p {
        font-size: 20px;
    }
    .findings-container div ul li {
        font-size: 20px;
    }

    .bullet-list {
        font-size: 22px;
    }

    #delivery-list {
        max-width: 750px;
    }

    #end-container {
        margin-top: 20em;
    }

    #back-index {
        font-size: 32px;
        margin-right: 5em;
    }

    #explore-btn {
        font-size: 32px;
    }

    #explore-btn span img {
        width: 8%;
        max-width: 100px;
    }

    .footer {
        font-size: 18px;
        margin: 4em 0;
    }
    .footer div:nth-of-type(1) {
        margin-top: .7em;
    }
    .footer img {
        width: 100%;
    }

    #about-quote {
        font-size: 24px;
    }
    #about-links {
        margin: 8em 0 24em 0;
    }

    #back-top-btn {
        right: 3em;
    }

}

@media screen and (min-width: 1725px) {

    .container {
        max-width: 1325px;
    }

}

@media screen and (min-width: 1920px) {

    .container {
        max-width: 69%;
    }

    .sidebar-container {
        left: 4%;
    }

    .block-quote {
        max-width: 60%;
    }

}

